<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <section name="SMTPServer" type="Discitur.Api.SmtpConfig, Discitur.Api" />
    <section name="ForgottenPwdMailConfig" type="Discitur.Api.ForgottenPwdMailConfig, Discitur.Api" />
    <section name="RegistrationMail" type="Discitur.Api.RegistrationMailConfig, Discitur.Api" />
    <section name="ActivationMailConfig" type="Discitur.Api.ActivationMailConfig, Discitur.Api" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="EventStore" connectionString="server=nb05;database=discitur;user id=sa;password=xxxxxxxxxxxxxxxx;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DisciturContext" connectionString="server=nb05;database=discitur;user id=sa;password=xxxxxxxxxxxxxxxx" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="server=nb05;database=discitur;user id=sa;password=xxxxxxxxxxxxxxxx;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CORSEnabled" value="true" />
    <!--<add key="CORSOrigin" value="http://williamverdolini.github.io" />-->
    <add key="CORSOrigin" value="http://localhost:59739;http://localhost:4000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--
    <staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    -->
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
            <requestFiltering allowDoubleEscaping="true" />
    </security>
    <rewrite>
        <rules>
          <rule name="lessons" stopProcessing="true">
              <match url=".*" />
              <action type="Rewrite" url="SEOLesson/List?{C:1}" logRewrittenUrl="true" appendQueryString="false" />
              <conditions logicalGrouping="MatchAny">
                  <add input="{QUERY_STRING}" pattern="_escaped_fragment_=/lesson\?(.*)" />
                  <add input="{QUERY_STRING}" pattern="^_escaped_fragment_=(/lesson)$" />
              </conditions>
          </rule>
          <rule name="Detail lesson" stopProcessing="true">
              <match url=".*" />
              <action type="Rewrite" url="SEOLesson/Detail/{C:1}" logRewrittenUrl="true" appendQueryString="false" />
              <conditions>
                  <add input="{QUERY_STRING}" pattern="_escaped_fragment_=/lesson/(\d+)/(.*)" />
              </conditions>
          </rule>
          <rule name="Detail lesson Without Hash" stopProcessing="true">
              <match url="^lesson/(\d+)/(.*)" />
              <action type="Rewrite" url="SEOLesson/Detail/{R:1}" logRewrittenUrl="true" appendQueryString="false" />
              <conditions>
                  <add input="{QUERY_STRING}" pattern="^_escaped_fragment_=$" />
              </conditions>
          </rule>
          <rule name="Angular-html5-mode-local" stopProcessing="true">
            <match url="^Discitur.Web/app/(admin|user|lesson|project|edit|404lesson)" />
            <action type="Rewrite" url="/Discitur.Web/app/" logRewrittenUrl="true" appendQueryString="false" />
          </rule>
          <rule name="Angular-html5-mode" stopProcessing="true">
            <match url="^(admin|user|lesson|project|edit|404lesson)" />
            <action type="Rewrite" url="/" logRewrittenUrl="true" appendQueryString="false" />
          </rule>
          <!--<rule name="Activation-hashbang">
            <match url="(.*)" />
            <action type="Rewrite" url="{C:1}#!{C:2}" />
            <conditions>
              <add input="{REQUEST_URI}" pattern="^(.*)#%21(.*)" />
            </conditions>
          </rule>-->
        </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- for production config, see: https://www.webwiz.co.uk/kb/web-hosting/email-settings.htm -->
  <SMTPServer from="team.discitur@gmail.com" subject="Discitur - Reset Password" host="smtp.gmail.com" enableSsl="true" userName="team.discitur@gmail.com" password="xxxxxxxxxxxxxxxx" port="587" />
  <ForgottenPwdMailConfig from="team.discitur@gmail.com" subject="Discitur - Reset Password" template="~/Providers/MailTemplates/ForgottenPwd.html" />
  <ActivationMailConfig from="team.discitur@gmail.com" subject="Discitur - Registrazione Account" template="~/Providers/MailTemplates/Activation.html" activation-url="http://localhost:59739/Discitur.Web/app/" activation-path="user/activation" />
</configuration>